<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="E3n\CatalogTags\Model\ResourceModel\Tag\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">e3n_catalog_tags</argument>
            <argument name="resourceModel" xsi:type="string">E3n\CatalogTags\Model\ResourceModel\Tag</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="catalogtags_index_grid_data_source" xsi:type="string">E3n\CatalogTags\Model\ResourceModel\Tag\Collection</item>
            </argument>
        </arguments>
    </type>
</config>